<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lectname %><br>
    <%= f.text_field :lectname %>
  </div>
  <div class="field">
    <%= f.label :lecttext %><br>
    <%= f.text_field :lecttext %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
