<li>

<%= link_to image_tag("241084701.gif") %>

  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>

#<%= link_to image_tag("241084701.gif") %>
